<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id        = "com.doersguild.procomp"
version   = "0.0.1">

	<name>ProComp</name>
	<description>Programmer Competency App</description>
	<preference name="phonegap-version" value="2.0.0" />
    
    <preference name="orientation" value="default" />
    
	<access origin="*" subdomains="true" />
    
    <author href="http://www.doersguild.com" email="mail@doersguild.com"> Doers' Guild	</author>
    
	<!-- Icons -->
	<icon src="icon.png" gap:role="default" />

	<!-- Splash Screens -->
	<gap:splash src="splash.png" />

</widget>
