<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id        = "com.doersguild.procomp"
version   = "1.0.9">

	<name>ProGrade</name>
	<description>Programmer Competency Calculator</description>
	<preference name="phonegap-version" value="2.9.0" />
	
	<preference name="target-device" value="universal" />
	<preference name="android-targetSdkVersion" value="14" />
    
    <preference name="orientation" value="default" />
    
    <!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires. -->
    <preference name="permissions" value="none"/>
    
    
	<access origin="*" subdomains="true" />
    
    <author href="http://www.doersguild.com" email="ProGrade@doersguild.com"> Doers' Guild	</author>
    
	<!-- Icons -->
	<icon src="icon.png" gap:role="default" />
    <icon src="icons/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="icons/android/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxhdpi" />
	

	<!-- Splash Screens
	<gap:splash src="splash.png" width="320" height="72" /> -->

</widget>
